.card__content {
  display: flex;
  background-color: #fff;
  padding: 1rem;
  width: 80%;
  border-radius: 16px;
  margin: 1rem 0;
}
@media (min-width: 768) {
  .card__content {
    font-size: 0.5rem;
    display: flex;
    font-size: 1rem;
  }
}

@media (min-width: 468) {
  .card__content {
    font-size: 0.5rem;
    display: flex;
    font-size: 1rem;
  }
}

.card__text {
  display: flex;
  flex-direction: column;
  
}

.card__text-detail {
  display: flex;
  flex-direction: column;
  margin: 4rem;
  
}

.card__shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15);
  transition: 0.3s;
}

.card__pokemon-name {
  font-size: 0.5rem;
  text-transform: capitalize;
  color: $text-color;
}

@media (min-width: 768px) {
  .card__pokemon-name {
    font-size: 3rem;
  }
}

@media (min-width: 510px) {
  .card__pokemon-name {
    font-size: 3rem;
  }
}

@media (min-width: 458px) {
  .card__pokemon-name {
    font-size: 2rem;
  }
}

//POkemon ID TEXT
.card__pokemon-id {
  font-size: 0.2rem;
}

@media (min-width: 768px) {
  .card__pokemon-id {
    font-size: 3rem;
  }
}

@media (min-width: 468px) {
  .card__pokemon-id {
    font-size: 2rem;
  }
}
.card__pokemon-img {
  width: 80%;
}

@media (min-width: 468px) {
  .card__pokemon-img {
    width: 80%;
  }
}

@media (min-width: 768px) {
  .card__pokemon-img {
    width: 100%;
  }
}

.card_pokemon-foot {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.card__content-detail {
  background-color: #fff;
  padding: 1rem;
  width: 30%;
  height: 100vh;
  border-radius: 16px;
  margin: 2rem 1rm;
}

.card__pokemon-name-detail {
  font-size: 5rem;
  text-transform: capitalize;
  color: $text-color;
  text-align: left;
  font-weight: bold;
  margin: 3rem;

}



@media (min-width: 468px) {
  .card__pokemon-img_detail{
    width: 20%;
  }
}

@media (min-width: 768px) {
  .card__pokemon-img_detail {
    width: 20%;
  }
}
@media (min-width: 768px) {
  .card__info-title {
    font-size:25px;
    font-weight: bold;
    color: $text-color;
    margin-left: 35px;
    
  }
}


@media (min-width: 768px) {
  .card__pokemon-id-detail {
    font-size:25px;
    text-align: left;
    margin-left:35px;
    color: $text-color;
   
  }}
    
  