.chip {
    /* display: inline-block; */
    
    padding: 0 25px;
    height: 10px;    
    line-height: 10px;
    border-radius: 25px;
    font-size: 5px;   
    color: white; 
    text-align: center;
    font-weight:bold;
    text-transform: capitalize;
    margin-left: 3px;
    
  }


  @media  (min-width: 768px) {
    .chip {
      display:flex;
      font-size: 10px;  
      line-height: 20px;
      display: inline-block;
    }
  }

  @media  (min-width: 468px) {
    .chip {
      display:flex;
      font-size: 10px;  
      line-height: 20px;
      display: inline-block;
    }
  }
  .chip__green{
    background-color:green;
    
  }

  .chip__poison{
    background-color:#9368b0;
  }

  .chip__orange{
    background-color:#f49d40;
  }


  .chip__blue{
    background-color:#aac8fe;
  }

  .chip__gray{
    background-color:grey;
  }

  .chip__water{
    background-color:aqua
  }



