@media (min-width: 768px) {
  .detail__grid {
    display: flex;
   justify-content: space-between;
   align-items: flex-start;
  }
}


@media (min-width: 468px) {
  .card__info {
    background-color: #fff;
    width: 95%;
    height:700px;
    border-radius: 16px;
    margin: 1rem 2rem;
    flex-basis: calc(60% -1rem);
  }
}

@media (min-width: 468px) {
  .card__image {
    width: 230px;
    flex-shrink: 0;
    background-color: #fff;
    border-radius: 16px;
    margin-left: 1rem;
    flex-basis: calc(20% - 1rem);
  }
}




.color__white{
  margin-top: 4rem;
  color: #fff;
}
