//colors
$primary: #566CD6;
$text-color: #40415E;
$secondary:#F2F4FF;
$dark-grey:#363636;
$light-grey: #d8d8d8;

$white: #fff;
$google-blue: #4285f4;
$button-active-blue: #1669f2;

$celular-size: 480px;
$tablet-size: 768px;
$laptop-size: 1140px;
$tv-size: 1400px;

